body.container {
	background: #EEE url("/br_base/static/src/img/fundo_1.jpg") repeat scroll 0% 0%;
	height: 100%;
	background-size:cover;
}

body.container div.o_database_list {
    background-color: white;
    padding: 40px;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 4px 10px 18px -1px rgba(0,0,0,0.75);
}

.o_form_view.o_form_editable .o_address_format div.o_address_state {
    width:75%;
}
.o_form_view.o_form_editable .o_address_format input.o_address_zip {
    width: 50%;
}

.o_form_view .o_form_sheet_bg .o_form_sheet {
    max-width: 90%;
}
